@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-outfit: var(--font-outfit);
}

body {
  background: var(--background);
  color: var(--foreground);
}
